@import '../../../../../styles/utils';

.list {
  width: 280px;
  height: auto;
  padding: 10px 15px;
  border: 1px solid white;
  border-radius: 10px;
  margin: 0 20px 10px;
  background: $light-sea-green;

  &__title {
    margin-bottom: 15px;
  }
}
