@import '../styles/utils';

.header {
  width: 100%;
  height: 80px;
  padding: 20px 20px;
  background-color: $hunyadi-yellow;
  border-bottom: 1px solid $orange-peel;

  &__title {
    font-size: 1.5rem;
    color: $black;
  }
}

.content-container {
  width: 100%;
  height: calc(100vh - 80px);
  background-color: $mint-green;
}
