@import '../../../../../styles/utils';

.container {
  display: flex;
  width: 100%;
}

.menu {
  padding: 20px 20px;
  border-right: 1px solid $light-sea-green;
  height: calc(100vh - 80px);
  width: 25%;
  background-color: $mint-green;
}

.content {
  width: 75%;
  padding: 20px 40px;
}
