@import '../../../../../styles/utils';

.card {
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: $white;
  box-shadow: 0px 0px 8px 0px rgb(129, 129, 129);

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }

  &__date {
    color: #888;
    font-size: 0.85rem;
    font-weight: 500;
  }

  &__title {
    font-size: 1.1rem;
    margin-bottom: 10px;
    line-height: 1.25;
  }

  &__description {
    font-size: 1rem;
    margin-bottom: 15px;
  }

  &__image {
    border-radius: 15px;
    margin-bottom: 15px;
  }
}
